
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Presentation Uploaded Successfully Submitted.</h2>

@Html.ActionLink("Abstracts List", "Index", "confabstracts")