<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <title>Conference agenda</title>
    <style>
<!--
 /* Font Definitions */


 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:3.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:2.9pt;
	line-height:115%;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;}
h1
	{mso-style-link:"Heading 1 Char";
	margin-top:15.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:2.9pt;
	text-align:center;
	line-height:115%;
	background:#4BACC6;
	border:none;
	padding:0in;
	font-size:12.0pt;
	font-family:"Arial",sans-serif;
	color:white;}
h2
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:2.9pt;
	line-height:115%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Arial",sans-serif;
	font-style:italic;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Header Char";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:2.9pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Footer Char";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:2.9pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:2.9pt;
	text-align:center;
	line-height:115%;
	font-size:18.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{margin-top:3.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:2.9pt;
	line-height:115%;
	font-size:8.0pt;
	font-family:"Arial",sans-serif;}
span.MsoPlaceholderText
	{color:gray;}
span.Heading1Char
	{mso-style-name:"Heading 1 Char";
	mso-style-link:"Heading 1";
	font-family:"Arial",sans-serif;
	color:white;
	background:#4BACC6;
	font-weight:bold;}
span.HeaderChar
	{mso-style-name:"Header Char";
	mso-style-link:Header;
	font-family:"Arial",sans-serif;}
span.FooterChar
	{mso-style-name:"Footer Char";
	mso-style-link:Footer;
	font-family:"Arial",sans-serif;}
.MsoChpDefault
	{font-size:10.0pt;}
 /* Page Definitions */

div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
    </style>

</head>

<body lang=EN-US>

    <div class=WordSection1>

        <p class=MsoTitle style='margin-bottom:6.0pt'>
            APWA-TX Chapter Annual Conference
            Agenda
        </p>

        <p class=MsoTitle style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:12.0pt'>June 17 – 20, 2020</span></p>

        <p class=MsoTitle>
            <span style='font-size:12.0pt;line-height:115%'>
                Moody Gardens
                – Galveston, Texas
            </span>
        </p>

        <div style='border-top:solid #215868 1.0pt;border-left:none;border-bottom:solid #215868 1.0pt;
border-right:none;padding:1.0pt 0in 1.0pt 0in;background:#4BACC6;margin-left:
2.9pt;margin-right:0in'>

            <h1 style='margin-left:0in;background:#4BACC6'>Wednesday, June 17, 2020</h1>

        </div>

        <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 width="100%"
               style='width:100.0%;border-collapse:collapse;border:none'>
            <tr>
                <td width=150 valign=top style='width:112.65pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>7:00 am – 5:00 pm</p>
                </td>
                <td width=474 valign=top style='width:355.35pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Exhibitor Setup</p>
                </td>
            </tr>
            <tr>
                <td width=150 valign=top style='width:112.65pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>8:00 am – 8:00 pm</p>
                </td>
                <td width=474 valign=top style='width:355.35pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Registration</p>
                </td>
            </tr>
            <tr>
                <td width=150 valign=top style='width:112.65pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>9:00 am – 3:00 pm</p>
                </td>
                <td width=474 valign=top style='width:355.35pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>
                        Golf Outing (hosted by Southeast Branch) – <b>
                            <i>
                                <u>
                                    Sponsorships
                                    available
                                </u>
                            </i>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=150 valign=top style='width:112.65pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>1:00 pm – 5:00 pm</p>
                </td>
                <td width=474 valign=top style='width:355.35pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>TPWA Chapter Board Meeting</p>
                </td>
            </tr>
            <tr>
                <td width=150 valign=top style='width:112.65pt;border:none;border-right:solid #BFBFBF 1.0pt;
  background:#FDE9D9;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal><span style='color:black'>9:00 am – 5:00 pm</span></p>
                </td>
                <td width=474 valign=top style='width:355.35pt;border:none;background:#FDE9D9;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>
                        <span style='color:black'>
                            Technical Workshops (full day
                            and half day offerings)
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=150 valign=top style='width:112.65pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>6:30 pm – 10:00 pm</p>
                </td>
                <td width=474 valign=top style='width:355.35pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>
                        Welcome Reception &amp; Family Night (at Palm Beach) – <b>
                            <i>
                                <u>
                                    (sponsored
                                    by TCPA?)
                                </u>
                            </i>
                        </b>
                    </p>
                </td>
            </tr>
        </table>

        <div style='border-top:solid #215868 1.0pt;border-left:none;border-bottom:solid #215868 1.0pt;
border-right:none;padding:1.0pt 0in 1.0pt 0in;background:#4BACC6;margin-left:
2.9pt;margin-right:0in'>

            <h1 style='margin-left:0in;background:#4BACC6'>Thursday, June 18, 2020</h1>

        </div>

        <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 width="100%"
               style='width:100.0%;margin-left:2.9pt;border-collapse:collapse;border:none'>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>7:00 am – 5:00 pm</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Registration</p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>8:00am – 4:00 pm</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Exhibit hall open</p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>8:00 am – 9:00 am</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Breakfast – sponsored by Lime Association</p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>8:15 am – 8:45 am</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Keynote speaker? / Education Announcements</p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  background:#FDE9D9;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal><span style='color:black'>9:00 am – 11:30 am</span></p>
                </td>
                <td width=478 style='width:358.4pt;border:none;background:#FDE9D9;padding:
  0in 0in 0in 0in'>
                    <p class=MsoNormal><span style='color:black'>Technical Tracks</span></p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>11:30 am – 1:00 pm</p>
                </td>
                <td width=478 style='width:358.4pt;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>
                        Lunch (Chapter membership meeting 12:00-12:30) – <b>
                            <i>
                                <u>
                                    Sponsorships
                                    available
                                </u>
                            </i>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;background:#FDE9D9;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal><span style='color:black'>1:00 pm – 3:30 pm</span></p>
                </td>
                <td width=478 style='width:358.4pt;background:#FDE9D9;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal><span style='color:black'>Technical Tracks</span></p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>5:00 pm – 6:00 pm</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Exhibitor Reception – <b><i><u>Sponsorships available</u></i></b></p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>6:00 pm – 7:00 pm</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Awards Ceremony </p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>9:00 pm – 12:00 am</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>
                        Young Professional event (Pub Crawl) – <b>
                            <i>
                                <u>
                                    Sponsorships
                                    available
                                </u>
                            </i>
                        </b>
                    </p>
                </td>
            </tr>
        </table>

        <div style='border-top:solid #215868 1.0pt;border-left:none;border-bottom:solid #215868 1.0pt;
border-right:none;padding:1.0pt 0in 1.0pt 0in;background:#4BACC6;margin-left:
2.9pt;margin-right:0in'>

            <h1 style='margin-left:0in;background:#4BACC6'>Friday, June 19, 2020</h1>

        </div>

        <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 width="100%"
               style='width:100.0%;margin-left:2.9pt;border-collapse:collapse;border:none'>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>8:00 am – 9:00 am</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Breakfast – <b><i><u>Sponsorships available (or AGC)</u></i></b></p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>8:00 am – 10:00 am</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Exhibit hall open</p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>10:00 am – 12:00 pm</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>Exhibitor move-out</p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  background:#FDE9D9;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal><span style='color:black'>9:00 am – 12:00 pm</span></p>
                </td>
                <td width=478 style='width:358.4pt;border:none;background:#FDE9D9;padding:
  0in 0in 0in 0in'>
                    <p class=MsoNormal><span style='color:black'>Technical Tracks</span></p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  background:#FDE9D9;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal><span style='color:black'>9:00 am – 12:00 pm</span></p>
                </td>
                <td width=478 style='width:358.4pt;border:none;background:#FDE9D9;padding:
  0in 0in 0in 0in'>
                    <p class=MsoNormal><span style='color:black'>Tours</span></p>
                </td>
            </tr>
            <tr>
                <td width=146 style='width:109.6pt;border:none;border-right:solid #BFBFBF 1.0pt;
  padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>12:00 pm – 1:30 pm</p>
                </td>
                <td width=478 style='width:358.4pt;border:none;padding:0in 0in 0in 0in'>
                    <p class=MsoNormal>After Action review</p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal>&nbsp;</p>

    </div>

</body>

</html>

